openapi: 3.1.0
info:
  title: Productiv Developer App Details Usage Events API
  description: The Productiv Developer APIs support integrating custom applications into the Productiv platform, allowing external developers to define and publish new connected applications. Once an application is properly defined, Productiv supports APIs for pushing usage events and user information in a standardized format, as well as Data Export APIs for fetching your company's app portfolio, detailed app information, provisioning workflows, and audit events.
  version: v1
  contact:
    name: Productiv Support
    email: support@productiv.com
    url: https://productiv.com/
  license:
    name: Proprietary
    url: https://productiv.com/
servers:
- url: https://public-api.productiv.com
  description: Productiv Public API
- url: https://login.api.productiv.com
  description: Productiv OAuth2 Authorization Server
security:
- bearerAuth: []
tags:
- name: Usage Events
  description: Publish usage events for applications.
paths:
  /services/push/v1/customer/apps/{appId}/usage-events:
    post:
      operationId: publishUsageEvents
      summary: Productiv Publish Usage Events
      description: Push usage events for an application to Productiv. Usage events represent actions performed by users, such as starting a video call, sending messages, or uploading files. Every event is uniquely identified by the combination of timestamp, email, and eventName. A maximum of 1000 events can be pushed per request.
      tags:
      - Usage Events
      parameters:
      - name: appId
        in: path
        required: true
        description: The unique identifier of the application.
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - events
              properties:
                events:
                  type: array
                  maxItems: 1000
                  description: A list of usage events to push.
                  items:
                    type: object
                    required:
                    - timestamp
                    - email
                    - eventName
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                        description: The timestamp of the event in milliseconds since epoch.
                      email:
                        type: string
                        format: email
                        description: The email address of the user who performed the action.
                      eventName:
                        type: string
                        description: The name of the action or activity performed.
            examples:
              PublishusageeventsRequestExample:
                summary: Default publishUsageEvents request
                x-microcks-default: true
                value:
                  events:
                  - timestamp: 10
                    email: user@example.com
                    eventName: example_value
      responses:
        '200':
          description: Events published successfully.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: Bearer token obtained from the OAuth2 token endpoint at https://login.api.productiv.com/oauth2/token using client credentials grant type.
